{% block content %}
<!-- Recent Top Selling Below -->
<section class="topSellingProducts sectionPadding">
    <div class="todaysDealNavBar sectionNavBar">
        <span>
            <h4>Recent Top Selling</h4>
            <span class="off">20% OFF</span>
        </span>
        <span>
            <a href="/shop.html">View All</a>
        </span>
    </div>
    
    <div class="topSellingContainer sectionContainer">
        <div class="backVerScrollBtn verScrollBtn">
            <img src="/Media/icons/back.png" alt="">
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">17%</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/idliRice.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Idli Rice (Parboiled Rice)</h4>
            </div>
            <div class="productqty">
                <span>Organic</span>
                <span>|</span>
                <span>1 kg</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹55.00
                </span>
                <span class="currentPrice">
                    ₹46.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">17%</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/daliya.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Daliya (Burghol)</h4>
            </div>
            <div class="productqty">
                <span>Organic</span>
                <span>|</span>
                <span>1 kg</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹119.00
                </span>
                <span class="currentPrice">
                    ₹99.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">17%</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/urad-dal-White.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Urad Dal - Lentils</h4>
            </div>
            <div class="productqty">
                <span>Organic</span>
                <span>|</span>
                <span>1 kg</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹155.00
                </span>
                <span class="currentPrice">
                    ₹139.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">17%</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/achi-samba.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Aachi Sambar Masala</h4>
            </div>
            <div class="productqty">
                <span></span>
                <span></span>
                <span>100 gm</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹65.00
                </span>
                <span class="currentPrice">
                    ₹42.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">17%</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/goldwinner.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Gold Winner (Sunflower Oil)</h4>
            </div>
            <div class="productqty">
                <span></span>
                <span></span>
                <span>1 ltr</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹165.00
                </span>
                <span class="currentPrice">
                    ₹139.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">17%</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/ashirwadAtta.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Ashirwad Atta (Wheat Flour)</h4>
            </div>
            <div class="productqty">
                <span></span>
                <span></span>
                <span>1 kg</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹67.00
                </span>
                <span class="currentPrice">
                    ₹52.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="todayDealsBox productBox">
            <div class="top">
                <span class="off">Buy One Get One</span>
                <span><img src="/Media/icons/vegIcon.png" alt=""></span>
            </div>
            <div class="productImg">
                <img src="/Media/Products/achiUrga.png" alt="">
            </div>
            <div class="productLabel">
                <h4>Aachi Lime Pickle</h4>
            </div>
            <div class="productqty">
                <span></span>
                <span></span>
                <span>100 gm</span>
            </div>
            <div class="prouctPrice">
                <span class="oldPrice">
                ₹110.00
                </span>
                <span class="currentPrice">
                    ₹54.00
                </span>
            </div>
            <div class="productQtySelect">
                <div class="minus">
                    <h2>&minus;</h2>
                </div>
                <div class="producctQtyNos">
                    <input type="number" value="1">
                </div>
                <div class="plus">
                    <h2>&plus;</h2>
                </div>
            </div>
            <div class="addTOCartBtn">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="nextVerScrollBtn verScrollBtn">
            <img src="/Media/icons/next.png" alt="">
        </div>
    </div>
    
</section>
<!-- Recent Top Selling Above -->


{% endblock content %}
