{% extends "base/base.html" %}
{% block content %}
{% include "components/header.html" %}




<div class="contactUsContainer sectionPadding">
    <div class="getInTouch">
        <div class="right">
            <div class="title">
                Get In Touch
            </div>
            <div class="contents">
                <div class="content">
                    <div class="title">
                        <h2>Adress  :</h2>
                    </div>
                    <div class="info">
                        <span>1st Floor, Bhandarkar Bhavan, Swami Vivekananda Rd, near Police Station, opposite BORIVALI RAILWAY STATION, Sundar Nagar, W, Mumbai, Maharashtra 400092
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Phone  :</h2>
                    </div>
                    <div class="info">
                        <span>022 28765477
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Email  :</h2>
                    </div>
                    <div class="info">
                        <span>contact@krishnastore.com
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Website  :</h2>
                    </div>
                    <div class="info">
                        <span>krishnastore.com
                        </span>
                    </div>
                </div>
                <div class="content socialMedia">
                    <div class="title">
                        <h2>Social Media :</h2>
                    </div>
                    <div class="info">
                        <div class="logo">
    
                        </div>
                        <div class="logo">
                            
                        </div>
                        <div class="logo">
                            
                        </div>
                    </div>
                </div>
            
            </div>
    
        </div>
        <div class="left">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.2226105024943!2d72.85333467466882!3d19.229127647148513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b187b227565b%3A0x6b501cc07463dd16!2sItvedant%20Education%20Pvt%20Ltd%20Borivali!5e0!3m2!1sen!2sin!4v1703416513162!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    
                </iframe>
            </div>
        </div>
    </div>
    <div class="userInputs">
        <div class="title">
            <h2>Contact Us</h2>
        </div>
        <div class="userInputForm">
            <form action="">
                <div class="line line1">
                    <input type="text" placeholder="Your Name*">
                    <input type="text" placeholder="Your Email*">
                </div>
                <div class="line line2">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="line line3">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                </div>
                <div class="line line4 submit">
                    <a href="">
                        <button>Submit</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


{% include "components/footer.html" %}
{% endblock content %}