{% block content %}
{% load static %}

<!-- Footer Section Below -->
<div class="footerSection sectionPadding">
    <footer>
        <div class="mainFooter">
            <div class=" footerContent" id="footerContent1">
                <div class="logo FooterLogo">
                    <img src="{% static 'images/officials/krishnaStoreLogo.png' %}" alt="Krishna Store">
                </div>
                <div class="footerContactList">
                    <ul class="footcontacts">
                        <li>022 28641966</li>
                        <li>+91 987654321</li>
                        <li>contact@krishnastores.com</li>
                        <li>www.krishnastores.com</li>
                    </ul>
                </div>
            </div>
            <div class="footerContent2 footerContent">
                <h5>Top Categories</h5>
                <ul class="categoriesInFooterList">
                    <li>Rices & Dals</li>
                    <li>Organic</li>
                    <li>Personal Care</li>
                    <li>Health Care</li>
                    <li>South Indian</li>
                </ul>
            </div>
            <div class="footerContent3 footerContent">
                <h5>About Us</h5>
                <ul class="categoriesAboutUs">
                    <li>Store Location</li>
                    <li>Affilate</li>
                    <li>Compay Information</li>
                    <li>GST Registration</li>
                </ul>
            </div>
            <div class="footerContent4 footerContent">
                <h5>Payments</h5>
                <ul class="categoriesAboutUs">
                    <li>Cash On Delivey</li>
                    <li>Rupay</li>
                    <li>Visa</li>
                    <li>Master Card</li>
                    <li>Amex</li>
                    <li>Net Banking</li>
                </ul>
            </div>
        </div>
        
    </footer>
</div>
<div class="subFooter sectionPadding">
    <div class="subFooterLeft copyright">
        <p>&copy; Copyrights Reserved 2023 | Krishna Store</p>
    </div>
</div>
<!-- Footer Section ABove -->

{% endblock content %}
